body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    background-image: url('https://d3t4nwcgmfrp9x.cloudfront.net/upload/tendencias-entrega-paquetes-para-2022.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover::before {
    transform: scaleX(1);
}
.form-label {
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}

.form-select{
    font-weight: bold;
    font-size: 16px;
}

.form-control {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

button[type="submit"] {
    margin-top: 20px;
    background-color: #198d84;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #115a4f;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 30px auto;
}


.terms-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    overflow-y: auto;
    background-color: #f3e0bc;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1050; 
}

.terms-content h5,
.terms-content h6 {
    margin: 0;
    padding: 10px 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}


.form-group {
    margin-bottom: 15px;
}

.formulario {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 30px auto;
}