
body {
    background-color: #dcf1d5;
    background-size: cover;
    background-position: center;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #000000;
  }
button[type="submit"] {
    margin-top: 20px;
    background-color: #198d84;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: #115a4f;
}


.card {
    background-image: url('https://tbm-media.s3.amazonaws.com/og_images/IMG_6209_crop_1200.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 300px;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: center;
    color: rgb(53, 50, 50);
}

.texto {
    text-align: center;
    margin: 20px auto;
    max-width: 1600px;
    padding: 30px;
    color: rgb(53, 50, 50);
}


.accordion {
    background: linear-gradient(to bottom right, rgba(57, 179, 211, 0.8), rgba(181, 110, 173, 0.932)); 
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    margin: 20px; /* Margen alrededor del acordeón */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: none; /* Elimina la sombra del borde exterior */
    margin-left: 150px;  /* Margen a la izquierda */
    margin-right: 150px; /* Margen a la derecha */
}

/* Estilo para los botones del acordeón */
.accordion-button {
    background-color: #0859a0; 
    color: #ffffff; 
    border: none; 
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
}

/* Estilo para el botón del acordeón cuando no está colapsado */
.accordion-button:not(.collapsed) {
    background-color: #349eff; 
    color: #f3f3f3; 
}

/* Estilo para el cuerpo del acordeón */
.accordion-body {
    background-color: #adcef0; 
    color: #000000; 
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px;
}

/* Estilo para las flechas del acordeón */
.accordion-button::after {
    color: #ffffff; /* Flechas blancas */
}
.card-1 {
    background-image: url('https://tbm-media.s3.amazonaws.com/og_images/IMG_6209_crop_1200.jpg');
}

.card-2 {
    background-image: url('https://www.gannett-cdn.com/-mm-/148256208c5eca0e0fa2a8da2eaceef67d721a11/c=0-165-2993-1856/local/-/media/2018/01/17/Pensacola/Pensacola/636518005126914564-Helping-the-Homeless-001.jpg?width=3200&height=1680&fit=crop');
}

.card-3 {
    background-image: url('https://media.npr.org/assets/img/2012/07/05/homeless-in-philadelphia-e35ede4faf4c36354378c34d4d696cecc25fbbfa-s1100-c50.jpg');
}
