<!DOCTYPE html>
<html>

<head>
    <title>Alimentos S.A</title>
    <meta charset="UTF-8">
    <link href="css/estilos.css" rel="stylesheet" type="text/css" />
</head>

<body>


    <h1 style="text-align: center;background-color: #009999; color: white">¿Quiénes somos?</h1>
    <p style="text-align: center;">En Alimentos S.A, nuestro equipo cree en el poder de la comunidad
        para marcar una diferencia en la vida de las personas que mas lo necesitan. Nuestro sitio web
        tiene como funcion facilitar la donacion de sobras de comida de restaurantes a personas que no 
        tienen para comer, de esta forma reduciendo el desperdicio de comida y al mismo tiempo ayudando
        a los que mas ayuda necesitan. </p>

    <h1 style="text-align: center;background-color: #009999; color: white">Nuestra Misión</h1>
    <p>
        Nuestra misión en Alimentos S.A es combatir el hambre y el desperdicio de alimentos al mismo tiempo
        y de manera eficiente mediante la creacion de una plataforma accesible para la donacion de sobrantes
        de comida de restaurantes que normalmente desecharian dichos alimentos.

    </p>
    <h1 style="text-align: center;background-color: #009999; color: white">¿Cómo operamos?</h1>
    <p>
        Nuestro modo de operación es sencillo:
    </p>

    <ul>

        <li style="font-family: sans-serif">Cualquier restaurante que desee participar puede registrarse en nuestro sitio web</li>
        <li style="font-family: sans-serif">Cuando se tengan sobrantes de comida, pueden realizar la alerta en el sitio web</li>
        <li style="font-family: sans-serif">La alerta permanece activa hasta que otro usuario la seleccione y retire la comida</li>

    </ul>

    <img src="https://tbm-media.s3.amazonaws.com/og_images/IMG_6209_crop_1200.jpg" alt="" width="750px" height="500px">

    </section>
    <footer>Derechos Reservados &COPY;Alimentos S.A 2024</footer>
</body>